/*	font imports	*/
@font-face{	font-family: Montserrat; src: url(montserrat/Montserrat-Regular.otf); }
@font-face{ font-family: Montserrat; src: url(montserrat/Montserrat-Light.otf); font-weight:100; }
@font-face{ font-family: Montserrat-Bold; src: url(montserrat/Montserrat-Bold.otf); font-weight:700; }
@font-face{ font-family: Lato-Medium; src: url(lato/Lato-Medium.ttf); font-weight:700; }
@font-face{ font-family: Lato; src: url(lato/Lato-Thin.ttf); font-weight:100; }
@font-face{ font-family: Arvo; src: url(arvo/Arvo-Regular.ttf); }
@font-face{ font-family: Arvo-Bold; src: url(arvo/Arvo-Bold.ttf); }

h1,h2,h3,h4,h5,h6{ font-family: 'Arvo-Bold' !important; }

/*
	logo colors
*/
/*	turquoise blue */
.bibs-logo-lightblue{
	color: rgba(83,199,225,1) !important;
}
.bibs-bg-logo-lightblue{
	background-color: rgba(83,199,225,1) !important;
}
/*	lochmara	*/
.bibs-logo-darkblue{
	color: rgba(7,111,183,1) !important;
}
.bibs-bg-logo-darkblue{
	background-color: rgba(7,111,183,1) !important;
}

/*
	text shades
*/
/*	alabaster	*/
.bibs-gray-1{
	color: rgba(252,252,252,1) !important;
}
.bibs-bg-gray-1{
	background-color: rgba(252,252,252,1) !important;
}
/*	seashell	*/
.bibs-gray-2{
	color: rgba(240,240,240,1) !important;
}
.bibs-bg-gray-2{
	background-color: rgba(240,240,240,1) !important;
}
/*	gray		*/
.bibs-gray-3{
	color: rgba(137,137,137,1) !important;
}
.bibs-bg-gray-3{
	background-color: rgba(137,137,137,1) !important;
}
/*	mine shaft	*/
.bibs-gray-4{
	color: rgba(66,66,66,1) !important;
}
.bibs-bg-gray-4{
	background-color: rgba(66,66,66,1) !important;
}
/*	mine shaft2 */
.bibs-gray-5{
	color: rgba(42,42,42,1) !important;
}
.bibs-bg-gray-5{
	background-color: rgba(42,42,42,1) !important;
}

/*
	main triplet
*/
/*	rob roy		*/
.bibs-main-yellow{
	color: rgba(233,196,106,1) !important;
}
.bibs-bg-main-yellow{
	background-color: rgba(233,196,106,1) !important;
}
/*	venice blue */
.bibs-main-blue{
	color: rgba(6,90,130,1) !important;
}
.bibs-bg-main-blue{
	background-color: rgba(6,90,130,1) !important;
}
/*	lochinvar	*/
.bibs-main-teal{
	color: rgba(42,157,143,1) !important;
}
.bibs-bg-main-teal{
	background-color: rgba(42,157,143,1) !important;
}
/*	cloud burst	*/
.bibs-main-navy{
	color: rgba(33,41,92,1) !important;
}
.bibs-bg-main-navy{
	background-color: rgba(33,41,92,1) !important;
}

/*
	secondary & darker
*/
/*	well read	*/
.bibs-red{
	color: rgba(195,66,63,1) !important;
}
.bibs-bg-red{
	background-color: rgba(195,66,63,1) !important;
}
/*	tangerine	*/
.bibs-orange{
	color: rgba(241,143,1,1) !important;
}
.bibs-bg-orange{
	background-color: rgba(241,143,1,1) !important;
}
/*	supernova	*/
.bibs-yellow{
	color: rgba(254,198,1,1) !important;
}
.bibs-bg-yellow{
	background-color: rgba(254,198,1,1) !important;
}
/*	emerald		*/
.bibs-green{
	color: rgba(68,207,108,1) !important;
}
.bibs-bg-green{
	background-color: rgba(68,207,108,1) !important;
}
/*	venice blue	*/
.bibs-blue{
	color: rgba(5,102,141,1) !important;
}
.bibs-bg-blue{
	background-color: rgba(5,102,141,1) !important;
}
/*	oxford blue	*/
.bibs-black{
	color: rgba(41,47,54,1) !important;
}
.bibs-bg-black{
	background-color: rgba(41,47,54,1) !important;
}


/*
	tertiary & brighter
*/
/*	wild watermelon	*/
.bibs-bright-red{
	color: rgba(255,89,100,1) !important;
}
.bibs-bg-bright-red{
	background-color: rgba(255,89,100,1) !important;
}
/*	gorse			*/
.bibs-bright-yellow{
	color: rgba(255,231,76,1) !important;
}
.bibs-bg-bright-yellow{
	background-color: rgba(255,231,76,1) !important;
}
/*	screamin green	*/
.bibs-bright-green{
	color: rgba(128,255,114,1) !important;
}
.bibs-bg-bright-green{
	background-color: rgba(128,255,114,1) !important;
}

/*
	light tones & overlays
*/
/*	pearl bush		*/
.bibs-bg-pale-red{
	background-color: rgba(221,209,199,1) !important;
}
/*	orinoco			*/
.bibs-bg-pale-yellow{
	background-color: rgba(234,248,191,1) !important;
}
/*	coriander		*/
.bibs-bg-pale-green{
	background-color: rgba(194,207,178,1) !important;
}

/*
	other css mods
*/
.small-caps{
	font-variant: small-caps;
}
.all-caps{
	text-transform: uppercase;
}
.round-border-white{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(252,252,252,1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(252,252,252,1);
	box-shadow: 0px 0px 1px 1px rgba(252,252,252,1);
}
.no-border-radius{
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
}
.error-segment{
	font-size: 1em;
	font-family: 'Lato';
	display:none;
}
.empty-state{
	text-align: center;
	margin: 0 auto;
	width: 100%;
	font-size: 1.3em;
	padding: 3em;
}
.basic-link{
	text-decoration: none;
}
.emphasized-link{
	text-decoration: underline;
	cursor: pointer;
}
.emphasized{
	font-family: 'Arvo-Bold' !important;
	font-size: 1.2em;
}
.left-icon{
	float: left;
	margin-right: 5px;
}
.right-icon{
	float: right;
}

/*	page 	*/
.bibs-page{
    position: absolute;
    width: 92%;
    min-height: 95%;
    max-height: 95%;
	margin-left: 6em !important;
    margin-right: 1%;
    margin-bottom: 1%;
    overflow-y: auto;
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 992px) and (-webkit-min-device-pixel-ratio: 1) { 
	.mobile{
		display:none!important;
	}
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2)and (min-resolution: 192dpi) { 
	.mobile{
		display:none!important;
	}
}

/* ----------- Smartphones ----------- */
@media only screen and (max-width : 320px) {
	.desktop{
		display:none!important;
	}
	.bibs-page{
		width: 97%;
		margin: 1% !important;
		margin-top: 3em !important;
	}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (-webkit-min-device-pixel-ratio : 2) {
	.desktop{
		display:none!important;
	}
	.bibs-page{
		width: 97%;
		margin: 1% !important;
		margin-top: 3em !important;
	}
	.welcome{
		position: relative !important;
		margin: 5% auto !important;
		width: 85% !important;
		top: 0 !important;
		left: 0 !important;
	}
	.welcome > img.ui.tiny.centered.image{
		width: 40px;
	}
	.welcome-sub{
		font-size: 1.5em;
	}
	.ui.info.bibs-gray-4.message{
		margin-top:2em;
		font-size: 0.9em;
	}
	#loginForm{
		padding-bottom: 15px;
	}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2){
	.desktop{
		display:none!important;
	}
	.bibs-page{
		width: 97%;
		margin: 1% !important;
		margin-top: 3em !important;
	}
	.welcome{
		position: relative !important;
		margin: 5% auto !important;
		width: 85% !important;
		top: 0 !important;
		left: 0 !important;
	}
	.welcome > img.ui.tiny.centered.image{
		width: 40px;
	}
	.welcome-sub{
		font-size: 1.5em;
	}
	.ui.info.bibs-gray-4.message{
		margin-top:2em;
		font-size: 0.9em;
	}
	#loginForm{
		padding-bottom: 15px;
	}
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2){
	.desktop{
		display:none!important;
	}
	.bibs-page{
		width: 97%;
		margin: 1% !important;
		margin-top: 3em !important;
	}
	.welcome{
		position: relative !important;
		margin: 5% auto !important;
		width: 85% !important;
		top: 0 !important;
		left: 0 !important;
	}
	.welcome > img.ui.tiny.centered.image{
		width: 40px;
	}
	.welcome-sub{
		font-size: 1.5em;
	}
	.ui.info.bibs-gray-4.message{
		margin-top:2em;
		font-size: 0.9em;
	}
	#loginForm{
		padding-bottom: 15px;
	}
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 2){
	.desktop{
		display:none!important;
	}
	.bibs-page{
		width: 97%;
		margin: 1% !important;
		margin-top: 3em !important;
	}
	.welcome{
		position: relative !important;
		margin: 5% auto !important;
		width: 85% !important;
		top: 0 !important;
		left: 0 !important;
	}
	.welcome > img.ui.tiny.centered.image{
		width: 40px;
	}
	.welcome-sub{
		font-size: 1.5em;
	}
	.ui.info.bibs-gray-4.message{
		margin-top:2em;
		font-size: 0.9em;
	}
	#loginForm{
		padding-bottom: 15px;
	}
}

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}