@font-face{
	font-family: Quicksand;
	src: url(quicksand/Quicksand-Regular.otf);
}
@font-face{
	font-family: Quicksand;
	src: url(quicksand/Quicksand-Light.otf);
	font-weight:100;
}
@font-face{
	font-family: Quicksand;
	src: url(quicksand/Quicksand-Bold.otf);
	font-weight:bold;
}

.navbar-inverse { background-color: #F2F2F2}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #0071BC}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #00DFF6}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #00DFF6}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #FFFFFF}
.navbar-inverse .navbar-brand { color: #002F4C}
.navbar-inverse .navbar-brand:hover { color: #002F4C}
.navbar-inverse .navbar-nav>li>a { color: #002F4C}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #002F4C}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #333333}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}

.form-container{
	width: 44%;
	margin-left: 3%;
}

.row{
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;	
	margin-bottom: 10px;
	display: block;
}

.input-form, .form-control{
	width: 80%;
	height: 34px;
	padding: 6px 12px;
	margin: 5px 0;
	line-height: 1.4;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-group{
	width: 80%;
}

.parsley-custom-error-message{
	font-size: small;
	color: #D91813;
}

#back{
	margin-left: 3%;
}

/* panel sizes */
.category-container{
	text-align: right;
}

.panel{
	width: 100%;
	margin-top: 2%;
	margin-right: 15%;
}

.panel-container{
	width: 94%;
}
.panel-container-left{
	display: inline-block;
	width: 44%;
	margin-left: 3%;
	vertical-align: top;
}
.panel-container-right{
	display: inline-block;
	width: 50%;
}

/*	timepicker  */
.bootstrap-datetimepicker-widget.timepicker-sbs{
	width: 600px;
}
.bootstrap-datetimepicker-widget table{
	width: 90%;
}
.datepicker{
	margin-right: -30px;
}

/* elessar */
.elessar-left{
	display: inline-block;
	width: 63%;
	vertical-align: top;
}

.elessar-right{
	margin-left: 2%;
	display: inline-block;
	width: 35%;
}

#elessar-container{
	width: 88%;
	margin: auto 6%;
	padding-top: 2%;
	padding-bottom: 4%;
	text-align: center;
	float: left;
	font: 10pt;
}

.vispanel.left{
	font-weight: bold;
}

.glyphicon-remove{
	color: #DD0000;
}

.glyphicon-ok {
	color: #00DD00;
}

.glyphicon-remove{
	color: #DD0000;
}

.glyphicon-ok {
	color: #00DD00;
}

.circle{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #C8C8C8;
    background: #F2F2F2;
}
.circle:hover{
    background: #C8C8C8;
}
.circle span{
    width: 100%;
    text-align: center;
    -webkit-text-stroke: 1px white;
}

.zero-clipboard{position:relative;display:none}.btn-clipboard{position:absolute;top:0;right:0;z-index:10;display:block;padding:5px 8px;font-size:12px;color:#767676;cursor:pointer;background-color:#fff;border:1px solid #e1e1e8;border-radius:0 4px 0 4px}.btn-clipboard-hover{color:#fff;background-color:#563d7c;border-color:#563d7c}

/* 	d3 charts 	*/
.d3-container{
	margin: 0 auto;
	width: 80%;
}

#chart svg {
	height: 400px;
}