body{
	background: white;
}

#region-logo{
    width: 75px;
}
#region-header{
	color: white;
    font-size: 20px;
    /*text-transform: uppercase;*/
    font-weight: 700;
    font-family: 'Montserrat-Black','Helvetica Neue',Arial,sans-serif;
}
#region-header * .ui.label{
	text-transform: uppercase;
    font-family: 'Montserrat-Light','Helvetica Neue',Arial,sans-serif;
}

#event{
	margin-top: 20px;
}

.social-header{
	color: #AAAAAA;
	line-height: 2em;
}

#cards-replacement{
	display: inline-block;
	padding: 5px;
	cursor: pointer;
	display: none;
}
#info-link{
	color: #777777;
}

.ui.card, #info-btn, #result-btn, #photo-btn, #runner-button{
    font-family: 'Montserrat-Bold';
    margin: 0 auto;
    border-radius: 0;
}

.ui.cards > .card > .content, .ui.card > .content,
#info-btn > .content,
#result-btn > .content,
#photo-btn > .content{
	font-size: 0.9em;
}

#single-result-container{
	margin-top: 20px;
}
.circular-header{
	font-weight: 400 !important;
}
.circular-bg{
	display: table;
	margin: 0 auto;
	width: 140px;
    height: 140px;
    border: 2px #444444 solid;
    border-radius: 100px;
}
.small-circular-bg{
	display: table;
	margin: 0 auto;
	width: 120px;
    height: 120px;
    border: 2px #444444 solid;
    border-radius: 100px;
}
.border-6{
	border: 2px rgba(101,153,192,1) solid !important;
}
.border-1{
	border: 2px rgba(47,106,173,1) solid !important;
}
.border-5{
	border: 2px rgba(222,166,56,1) solid !important;
}
.border-3{
	border: 2px rgba(106,171,103,1) solid !important;
}
.border-4{
	border: 2px rgba(218,95,57,1) solid !important;
}
.border-8{
	border: 2px rgba(94,79,153,1) solid !important;
}
.ranking-container{
	margin: 2em auto;
}
.circular-contents{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.small-circular-bg * .ui.statistic>.value{
	font-variant: small-caps;
	text-transform: none;
}
.runner-event-type,.runner-time,
.runner-overall-rank,.runner-gender-rank,
.runner-overall-rank-total,.runner-gender-rank-total,
.split-time,.pace-time{
	font-weight: 700;
}
.runner-event-type{
	font-size: 1.4em;
    line-height: 2.5em;
	font-weight: 400;
}
.runner-name{
	font-size: 2em;
    font-weight: 400;
    font-family: 'Montserrat-Light';
}
.runner-bib-main{
	font-family: 'Montserrat';
	font-size: 1.2em;
	text-transform:uppercase;
}

#single-result-card > .content{
	font-size: 10pt;
	padding-top: 50px;
	text-align: center;
}

#single-result-card > .ui[class*="top attached"].label{
	padding: 15px;
	font-size: 1.3em;
}

#single-result-card> .content > .description{
	font-weight: 600;
	color: rgba(0, 0, 0, 0.5);
	font-size: 15pt;
	padding-top: 0.5em;
}

#info-btn{
	background-color: none;
}

#result-btn{
	background-color: none;
}

#photo-btn{
	background-color: none;
}

#runner-btn{
	box-shadow: none;
}
#runner-btn > .content > .description{
	color: #333;
}

.ui.cards > .card > .content > .header,
#info-btn> .content > .header,
#result-btn> .content > .header,
#photo-btn> .content > .header{
	color: #FFF;
}

.ui.cards > .card > .content > .description, .ui.card > .content > .description,
#info-btn > .content > .description,
#result-btn > .content > .description,
#photo-btn > .content > .description{
	color: #FFF;
}

#single-result-card > .image > .ui.label{
	font-size: 1.4em;
	text-transform: uppercase;
}

.award-banner{
	color: black;
	font-size: 1.4em;
	font-family: 'Montserrat-Black';
	/*text-transform: uppercase;*/
	margin: 0 auto !important;
}

.first-place{
	background-color: gold!important;
	border-color: gold!important;
}

.second-place{
	background-color: silver!important;
	border-color: silver!important;
}

.third-place{
	background-color: chocolate!important;
	border-color: chocolate!important;
}

.ui.cards > .card > .content.award-content{
	padding-top: 20px;
	text-align: center;
}

@media (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
	.ui.cards > .card > .content.award-content{
		padding-top: 3.5rem;
	}
}

.ui.cards > .card > .content.award-content > .header{
	font-size: 1.5em;
	color: #222;
}

.ui.cards > .card > .content.award-content > .description{
	font-size: 1.3em;
	color: #555;
}

.stat-finish{
	width: 100%;
	text-align: center;
}
.ui.statistic.stat-finish:nth-child(3) > .value ~ .label{
	font-size: 20pt;
}
.ui.pointing.left.label{
	font-size: 1em;
	width: 80px;
}

.ui.statistics > .statistic{
	margin: 0em 0em 2em;
	max-width: 130px;
}

.ui.small.statistics .statistic > .value, .ui.small.statistic > .value{
	font-size: 3em;
}

.ui.small.statistic > .value{
	font-family: 'Montserrat-Bold';
	/*font-variant: small-caps;*/
	text-transform: none;
	font-weight: bolder;
}
.ui.small.statistic > .label{
	font-family: 'Montserrat-Bold';
	font-weight: 600;
	/*text-transform: uppercase;*/
	font-size: 1.5em;
}

#courses-labels{
	margin-top: 10px;
}

#social, #download{
	margin-top: 50px;
	text-align: center;
}

#search-type{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
#search-type > .column:not(.row){
	padding-left: 0 !important;
	padding-right: 0 !important;
}
#search-user > .ui.input{
	width: 100%;
}

#results{
	margin-top: 20px;
	text-align: left;
}
#results > .ui.list{
	text-align: left;
}

.result-list{
	margin-top: 15px;
}

.bibs-num{
	float:left;
	margin: 0 1em 0 0 !important;
	line-height: 3em !important;
}

i{
    margin-right: 0;
}

#images{
	margin: 0;
}

#search-single-button{
	margin-left: 5px;
}

#photo-search-bar{
	margin-bottom: 20px;
}

#images > .column, .runner-images > .column{
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
}

#images > .column > .ui.segment, .runner-images > .column > .ui.segment{
	box-shadow: none !important;
	border-radius: 0 !important;
	margin: 0 !important;
	padding: 0.5rem !important;
}

#images > .column > .ui.segment > img, .runner-images > .column > .ui.segment > img{
	max-height: 400px;
	max-width: 100%;
}

.runner-images-container{
	margin-bottom: 20px;
}

#download * .ui.image img{
	max-height: 40px;
}

#advertisement{
	margin-top: 30px;
}


/*		non-retina 		*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 
	#zappos-logo{
		width: 1.5em;
	}
	.ranking-container > .ui[class*="five column"].grid>.column:not(.row),
	.ranking-container > .ui[class*="five column"].grid>.row>.column{
		width: 25%;
	}
}

/*		iphones 2-4 (also can work for 5-6) 	*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.navbar-icon {
	    max-width: 200px;
	    margin-top: 5px;
	}
	/*
			runner.html
	*/
	.ranking-container > .ui.grid,
	.ranking-container > .ui.grid>.column:not(.row){
		padding-left: 0;
		padding-right: 0;
	}
	/* 	convert five column grid to three columns 	*/
	.ranking-container > .ui[class*="five column"].grid>.column:not(.row),
	.ranking-container > .ui[class*="five column"].grid>.row>.column{
		width: 33.333333%;
	}
	#single-result-card > .top-label{
		padding: 1em;
	}
	.runner-name{
		font-size: 1.5em;
	}
	.runner-bib-main{
		font-size: 1em;
	}
	.runner-event-type{
		font-size: 1em;
	}
	.small-circular-bg{
		width: 5em;
	    height: 5em;
	    border-radius: 5em;
	}
	.small-circular-bg * .ui.mini.statistic>.value{
		font-size: 1em;
	}
	.circular-bg{
		width: 7em;
	    height: 7em;
	    border-radius: 6em;
	}
	.circular-bg * .ui.tiny.statistic>.value{
		font-size: 1.2em;
	}
	.rank-divider{
		width: 3em;
	}
}

/*		iphone 5, 5s	*/
/*@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
}*/

/*		iphone 6s		*/
/*@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
}*/

/*  android phones (galaxy s3)  */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
}

/*  iphone 5    */
@media screen and (device-aspect-ratio: 40/71) {
}